<div id="<%= dom_id match %>" class="d-flex flex-row justify-content-center align-items-center border border-2 rounded bg-secondary bg-opacity-10" style="width:470px; height:130px;">
  <div>
    <%= image_tag "https://countryflagsapi.com/png/#{match.team1}", style: "height:100px; width:auto;" %>
  </div>

  <div class="d-flex align-items-center fw-bold fs-2 mx-4">
    <%= match.score1 %> - <%= match.score2 %>
  </div>

  <div>
    <%= image_tag "https://countryflagsapi.com/png/#{match.team2}", style: "height:100px; width:auto;" %>
  </div>
</div>